{
  "test_private_keys": [
    "0x0b932d610d05183b41...",
    "0x2ee9bc201a0a644eb1..."
  ],
  "infura_key": "0ca461f23bd460fa...",
  "mainnet_private_keys": [
    "0x2ee9bc201a0a644eb1...",
    "0x0ce96427ec6ea8ae4d8b..."
  ]
}
